*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f5f8ff; 
    color: #110f29;
    font-family: "Artifika";
}
.travel i{
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 40px 80px;
}
.travel ul{
    display: flex;
    align-items: center;
}
.travel ul li{
    list-style: none;   
}
.travel ul li p{
    font-size: 35px;
}
.travel ul a{
    text-decoration: none;
    padding: 20px;
    font-size: 1.3rem;
    color: #110f29;
    position: relative;
}
.travel ul .a::after{
    content: "";
    position: absolute;
    background-color: #110f29;
    height: 2px;
    width: 0%;
    top: 42px;
    left: 23px;
    transition: 0.5s;
}
.travel ul .a:hover::after{
    width: 57%;
}
.travel{
    margin-top: 30px;
}
.logo{
    padding: 3px 22px 5px 23px;
    margin-top: 25px;
}
/* .............photo................... */
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 630px;
    position: relative;
}
.text .logo2{
    height: 483px;
    width: 375px;
    position: relative;
    top: 7px;
    right: 292px;
    background-color: #f5f8ff;
    transition: 1s;
    cursor: pointer;
    transform-style: preserve-3d;
}

.text .text1 h1{
    position: absolute;
    top: 232px;
    left: 114px;
    font-size: 40px;
}
.waa{
    position: absolute;
    top: 66%;
    left: 29%;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #110f29;
    margin-top: 41px;
    transition: 0.5s;
}
.front , .back{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    backface-visibility: hidden;
}
.front{
    background: url(images/photo23messi.jpg);
    background-size: cover;
    
}
.back{
    background-color:#ada7a7;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.back .inst{
    position: absolute;
    top: 66%;
    left: 29%;
    font-size: 17px;
    font-weight: bold;
    color: #110f29;
    transition: 0.5s;
}
.back a:hover{
    color: #110f29;
    transform: translateY(-2px);
}
.card:hover .logo2{
    transform: rotateY(180deg);
}
/* ..............................grid...................... */
.pictures h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    grid-gap: 0px;
}
.grid div{
    background-color: #f5f8ff;
    margin-top: 78px;
    margin-left: 94px;
    height: 262px;
    width: 223px;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}
.form h2{
    position: absolute;
    top: 509px;
    left: 307px;
    font-size: 24px;
}
.grid div img{
    height: 262px;
    width: 223px;
    border-radius: 5px;
    transition: 0.5s;

}
.grid div img:hover{
    scale: 1.1;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100;
    display: none;
}
.popup img{
    position: absolute;
    top: 20%;
    left: 36%;
    height: 60%;
    width: 30%;
    border-radius: 5px;
}
.popup span{
    font-size: 40px;
    color: black;
    position: absolute;
    top: 19%;
    left: 64%;
    z-index: 110;
    cursor: pointer;
}
/* ..............................CONTACT.................... */
.contact h1{
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
}
.form{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    position: relative;
}
.form img{
    height: 450px;
    position: absolute;
    top: 0%;
    left: 16%;
    border-radius: 5px;
    margin-top: 40px;
}
.form h1{
    position: absolute;
    top: 0;
    right: 4%;
    left: 52%;
    line-height: 1.4;
}
.msg{
    position: relative;
    gap: 20px;
    height: 727px;
}
.msg .inner{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 52%;
    top: 18%;
    gap: 40px;
}
.msg .inner input{
    height: 50px;
    width: 600px;
    border: none;
    background-color: hsl(0, 4%, 90%);
    padding: 30px;
    border-radius: 30px;
}
.msg .inner input:focus{
    border: #110f29;
}
.msg .inner textarea{
    height: 200px;
    width: 600px;
    border: none;
    background-color: hsl(0, 4%, 90%);
    padding: 30px;
    border-radius: 30px;
    font-size: 20px;
}
.msg .inner textarea:focus{
    border: #110f29;
}
.msg .inner button{
    outline: none;
    border: none;
    background-color: hsl(0, 4%, 90%);
    color: #110f29;
    padding: 11px 28px;
    font-size: 15px;
    border-radius: 16px;
    transition: 05s;
    cursor: pointer;
}
.msg .inner button:active{
    background-color: #ada7a7;
}
form a i{
    position: absolute;
    top: 68%;
    left: 26%;
    font-size: 29px;
    color: black;
    transition: 0.5s;
}
.wa{
    position: relative;
}
.wa a{
    position: absolute;
    top: -171px;
    left: 322px;
    text-decoration: none;
    font-size: 20px;
    color: #110f29;
    font-weight: bold;
}
.phnwa{
    display: none;
}
form a i:hover{
    color: #ada7a7;
    transform: translateY(-3px);
}
/* ...........................copy......................... */
.copy h1{
    text-align: center;
    font-size: 20px;
    background-color: #ada7a7;
}